body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fda0f7;
    user-select: none;/* ao deixa usuario selecionar*/

}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 30px;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%); /* efeito gradiente*/
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;/* espaçamento entre letra*/
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;/* quando o mause e */
    font-weight: 600;
}

/* quando o class .reset é precionado usa foucs*/
.reset:focus{
    color: #ec38bc; 
    background-color: #2e2828;  
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;/* quando elemento é utrapasadoquebra a linaha e vai para outro */
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg); /* criando animacaoo */
    transition: 0.25s; /* animacaoo de 0.25 segundo*/
}

/* conteudo de depois de ser carregado o iclass item*/
.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    /*opacity: 0.85;*/
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMach::after{
    transform: rotateY(180deg);
}